html, body
{
	width: 100%;
	height: 100%;
	margin: 0;
	overflow: hidden;
	font-family: sans-serif;
}

canvas
{
	width: 100% !important;
	height: 100% !important;
	display: block;
}

#topbar
{
	display: table;
	position: absolute;
	top: -4em;
	width: 100%;
	background-color: white;
	opacity: .9;
	box-shadow: 0 0 .5em white;
	transition: top .5s linear;
}

#topbar.enabled
{
	top: 0;
}

#topbar > *
{
	display: table-cell;
	text-align: right;
	padding: 1em;
}

#topbar > :first-child
{
	text-align: left;
}

#topbar i
{
	margin-left: 1em;
	font-weight: 100;
}

#legend
{
	cursor: pointer;
	text-align: justify;
	opacity: .9;
	position: absolute;
	padding: 1em;
	padding-right: 2em;
	top: 6em;
	right: -50em;
	background-color: white;
	box-shadow: 0 0 .5em white;
	transition: right 1s linear;
}

#legend.enabled
{
	right: 0;
}

#legend p
{
	margin: 0;
}

#legend p:first-child
{
	margin-bottom: .5em;
}

#stats
{
	position: absolute;
	right: 0;
	bottom: 0;
	box-shadow: 0 0 .5em rgb(0, 34, 34);
}

button
{
	font-size: 1em;
}

label
{
	margin-right: 1em;
	line-height: 100%;
}

#exitfs
{
	display: none;
}

a,
a:visited
{
	color: black;
	font-weight: bold;
}

a:hover
{
	color: steelblue;
}
